<!doctype html>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<header class="header">
	<div>
		<input id="search-bar" type="text" placeholder="Search..." oninput="onInputSearchBar()">
		<button class="btn" onclick="clearSearchBar(this)">Clear</button>
	</div>
	<button class="btn" id="help-btn" onclick="openHelpModal()">Help</button>
</header>
<nav class="nav">
	<div>

		<ul class="horizontal-tab">
			<li><button class="nav-btn btn active" onclick="changeContent('reactions')">Reactions</button></li>
			<li><button class="nav-btn btn" onclick="changeContent('cooking')">Cooking</button></li>
			<li><button class="nav-btn btn" onclick="changeContent('crafting')" >Crafting</button></li>
			<li><button class="nav-btn btn" onclick="changeContent('construction')" >Construction</button></li>
			<li><button class="nav-btn btn" onclick="changeContent('lathes')" >Lathes</button></li>
		</ul>

		<div>
			<button id="list-view-btn" class="btn active" onclick="changeViewType('list')">List</button>
			<button id ="grid-view-btn" class="btn" onclick="changeViewType('grid')">Grid</button>
		</div>

	</div>
</nav>

<section class="content">
	{% block content %}
	<div id="reactions" class="reactions">
		{% for category, value in reaction_categories.items() %}
		
			{% include 'components/reactions_category.html' %}

		{% endfor %}
	</div>
	<div id="cooking" class="cooking hidden">
		{% for category, value in cooking_categories.items() %}
		
			{% include 'components/cooking_category.html' %}
		{% endfor %}
	</div>
	<div id="crafting" class="crafting hidden">
		<h2>Coming soon...</h2>
	</div>
	<div id="construction" class="construction hidden">
		<h2>Coming soon...</h2>
		
	</div>
	<div id="lathes" class="lathes hidden">
		<h2>Coming soon...</h2>
		
	</div>
	{% endblock %}
</section>

<footer class="footer">
	<p>Current Commit: <a href="https://github.com/space-wizards/space-station-14/tree/master"current_commit">{{current_commit}}</a></p>
	<p>&nbsp;|&nbsp;</p>

	<p>Last updated: <span id="last_updated">{{last_updated}}</span></span>
	<p>&nbsp;|&nbsp;</p>

	<p>made with ❤️ by <a href="https://github.com/luizwritescode">luizwritescode</a></p>
</footer>

<!-- Modal -->
 {% include 'components/help_modal.html' %}

<script>
	const reactionData = {{ reaction_categories | tojson | safe }};
	const cookingData = {{ cooking_categories | tojson | safe }};
	const allData = {
		'reactions': reactionData,
		'cooking': cookingData
	}
	let allDataArray = [];
	for (let key in allData) {
		for (let cat in allData[key]) {
			for (let recipe in allData[key][cat]) {
				let entry = allData[key][cat][recipe];
				entry['category'] = cat;
				entry['key'] = key;
				allDataArray.push(allData[key][cat][recipe]);
			}
		}
	}
	console.log(allDataArray);
</script>

<script src="{{ url_for('static', filename='utils.js') }}"></script>